<form [formGroup]="branchForm" (submit)="checkout(branchForm.value)">
  <mat-card fxFlex fxFlexAlign="start">
    <mat-card-content>
      <div fxLayout="column wrap">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" type="submit">Branch</button>
    </mat-card-actions>
  </mat-card>
</form>